a {
  text-decoration: none;
  color: white;
}

p {
    margin: 30px;
    padding: 10px;
}

body {
  background-color: black;
  font-family: sans-serif;
  margin: 0px;
  padding: 0px;
  color: white;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px 10px;
}

main {
  margin: 0px;
  padding: 0px;
}

nav a {
  font-size: 14px;
  text-decoration: none;
  padding: 5px 10px;
  font-weight: 800;
}

iframe {
    border: 0;
    scrolling: No;
}

#welcome-section {
  background-image: url("img/water_fall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#development-section {
  background-image: url("img/school_house.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 20px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-rows: 20% 80%;
  text-align: center;
}

#development-content {
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 600px) {
  #development-content {
    display: flex;
    width: 100%;
  }
}

article {
  justify-self: center;
  padding: 10px 10px;
}


#photography-section {
  background-image: url("img/purple_iris.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 20px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-rows: 20% 80%;
  text-align: center;
}

#photography-content {
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 600px) {
  #photography-content {
    display: flex;
    width: 100%;
  }
}

#footer {
  text-align: center;
  padding: 30px 10px 5px 10px;
}
