body {
  font-family: 'Oxygen', sans-serif;
  margin: 0px;
  padding: 0px;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px 10px;
}

main {
  margin: 0px;
  padding: 0px;
}

nav a {
  font-size: 14px;
  text-decoration: none;
  padding: 5px 10px;
  color: white;
  font-weight: 800;
}

#welcome-section {
  background-color: black;
  background-image: url("img/water_fall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
}

#welcome {
  text-align: center;
  text-justify: center;
  color: white;
}

#development-section {
  background-color: black;
  background-image: url("img/school_house.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
}
#development-section header {
  text-align: center;
  font-size: 24px;
  color: white;
}

#development-article {
  text-align: center;
  font-size: 12px;
}

#development-content {
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 600px) {
  #development-content {
    display: flex;
    width: 100%;
  }
}

article {
  justify-self: center;
  padding: 10px 10px;
}


#photography-section {
  background-color: black;
  background-image: url("img/purple_iris.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0px;
  padding: 0px;
  align-items: center;
  justify-content: center;
}


#photography-section header {
  text-align: center;
  font-size: 24px;
  color: white;
}


#photography-content {
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 600px) {
  #photography-content {
    display: flex;
    width: 100%;
  }
}

#photography-article {
  text-align: center;
  font-size: 12px;
}

#photography-tile {
  text-decoration: none;
  padding: 20px 20px;
}


#footer {
  text-align: center;
  color: white;
  padding: 30px 10px 5px 10px;
  background-color: black;
}
