@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

a {
  text-decoration: none;
  color: white;
}

p {
    margin: 30px;
    padding: 10px;
}

body {
  background-color: black;
  font-family: "Source Code Pro";
  margin: 0px;
  padding: 0px;
  color: white;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px 10px;
}

main {
  margin: 0px;
  padding: 0px;
}

nav a {
  font-size: 14px;
  text-decoration: none;
  padding: 5px 10px;
  font-weight: 800;
}

iframe {
    border: 0;
    scrolling: No;
}

article {
  justify-self: center;
  padding: 10px 10px;
}


#welcome-section {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  #welcome-section {
    background-image: url("img/water_fall_low.jpg");
  }
}

@media only screen and (max-width: 1800px) {
  #welcome-section {
    background-image: url("img/water_fall_med.jpg");
  }
}

@media only screen and (max-width: 3000px) {
  #welcome-section {
    background-image: url("img/water_fall.jpg");
  }
}

#development-section {
  /*background-image: url("img/school_house.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 10px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-rows: 20% 80%;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  #development-section {
    background-image: url("img/school_house_low.jpg");
  }
}

@media only screen and (max-width: 1800px) {
  #development-section {
    background-image: url("img/school_house_med.jpg");
  }
}

@media only screen and (max-width: 3000px) {
  #development-section {
    background-image: url("img/school_house.jpg");
  }
}

#development-content {
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 600px) {
  #development-content {
    display: flex;
    width: 100%;
  }
}

#photography-section {
  /*background-image: url("img/purple_iris.jpg");*/
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  margin: 10px;
  padding: 0px;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-rows: 20% 80%;
  text-align: center;
}


@media only screen and (max-width: 800px) {
  #photography-section {
    background-image: url("img/purple_iris_low.jpg");
  }
}

@media only screen and (max-width: 1800px) {
  #photography-section {
    background-image: url("img/purple_iris_med.jpg");
  }
}

@media only screen and (max-width: 3000px) {
  #photography-section {
    background-image: url("img/purple_iris.jpg");
  }
}

#photography-content {
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 600px) {
  #photography-content {
    display: flex;
    width: 100%;
  }
}

#footer {
  text-align: center;
  padding: 30px 10px 5px 10px;
}
